.Synonyms li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}
.Synonyms {
  padding: 0px;
}
.Synonyms .synonym {
  font-weight: 600;
}
@media (max-width: 700px) {
  .Synonyms {
    font-size: smaller;
  }
}
